<% content_for :body_class, "home-page" %>

<div class="container">
	<div class="jumbotron text-center">
		<h1>Colour-Full</h1>
		<h5>A Palette App</h5>
	<!-- 	Click here to <%= link_to "Sign Up", "#", class: "btn btn-default" %>
	 -->
	 </div>

<!--  --> </div>


