<% content_for :body_class, "edit-color color-adjust" %>
<% content_for :body_style, "background-color: #{ @color.hexcode }" %>

<div class="container">

	<h1>Edit Color</h1>

	<%= render 'form' %>

	<%= link_to 'Show', @color %> |
	<%= link_to 'Back', colors_path %>


	<% if @color.user == current_user %>
		<%= link_to 'Destroy', @color, method: :delete, data: { confirm: 'Are you sure?' } %>
	<% end %>
	
</div>
