// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


// Home Page

// Color Change by: Steve Calamia (http://codepen.io/metagrapher/) 
body.home-page {
      animation: colorchange 40s infinite; /* animation-name followed by duration in seconds*/
         /* you could also use milliseconds (ms) or something like 2.5s */
      -webkit-animation: colorchange 40s infinite; /* Chrome and Safari */
      color: $white;

    .navbar-default {
      background-color: $transparent;
    }

	.navbar-default .navbar-nav > li > a {
  		color: $white;
  		&:hover, &:active {
  			color: $seethru;
  		}
		}	

    h3 {
      margin-top: 40px;
      a {
        color: $white;
      }
      
    }


    }

.jumbotron {
	outline: 4px solid rgba(255,255,255,0.3);
	outline-offset: 10px;
  margin-top: 100px;
  margin: 100px 30px 0;
}

h5 {
	animation: textchange 40s infinite;
	-webkit-animation: textchange 40s infinite;
}

    @keyframes colorchange
    {
      0%   {background: $red;}
      25%  {background: $purple;}
      50%  {background: $blue;}
      75%  {background: $green;}
      100% {background: $red;}
    }

    @-webkit-keyframes colorchange /* Safari and Chrome - necessary duplicate */
    {
      0%   {background: $red;}
      25%  {background: $purple;}
      50%  {background: $blue;}
      75%  {background: $green;}
      100% {background: $red;}
    }
    @keyframes textchange
    {
      0%   {color: $red;}
      25%  {color: $purple;}
      50%  {color: $blue;}
      75%  {color: $green;}
      100% {color: $red;}
    }

    @-webkit-keyframes textchange /* Safari and Chrome - necessary duplicate */
    {
      0%   {color: $red;}
      25%  {color: $purple;}
      50%  {color: $blue;}
      75%  {color: $green;}
      100% {color: $red;}
    }

body.edit-color {

}

.add-color {
  .color-container {
    padding-top: 120px;
  }
}

.colour-section {
  min-height: 220px;
  position: relative;

  &:hover {
    h3 {
      color: $transparent;
    }
    .links-container {
      opacity: 1;
    }
  }

  .links-container {
    position: absolute;
    // bottom: 25px;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    opacity: 0;
    width: 100%;
  }

  .copy-colour {
    cursor: pointer;
    font-family: $font-family-serif;
    font-size: 20px;
    margin-bottom: 20px;

    &:hover {
      text-decoration: underline;
    }
  }

  h3 {
    font-weight: bold;
    color: rgba(0,0,0,0.6);
    position: absolute;
    top: 50%;
    width: 100%;
    margin-top: 0;
    transform: translateY(-50%);
  }
}

.spectrum {
  min-height: 33px;
  position: relative;
}

.edit-color-holder {
  // padding-top: 120px;

  a {
    margin: 0 5px;
    color: $white;
  }

  .nav-subnav {
    margin-bottom: 120px;
  }

  h2 {
    color: $seethru;
    margin-top: 30px;
  }

  h2.large {
    margin: 50px;
  }
}

.show-color {
  .jumbotron {
    background-color: $transparent;
    margin-top: 0;
    outline: 0;
  }

  .container.edit-color-holder {
    outline: 12px solid $white;
    outline-offset: -20px;
    margin-top: 120px;
    margin-bottom: 60px;
  }
}

.no-colors {
  padding-top: 50px;
}