/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 /*
 *= require jquery.minicolors
 *
 */

 $container-large-desktop: 970px;

 $font-family-serif: "freight-big-pro",sans-serif;
 $font-family-sans-serif: "acumin-pro-semi-condensed",sans-serif;

 $white: #ffffff;
 $black: #222;
 $seethru: rgba(255,255,255,0.3);
 $transparent: transparent;
 $blue: #3498db;
 $cornflower: #6495ED;
 $gainsboro: #DCDCDC;
 $red: #FF6347;
 $green: #3CB371;
 $ltgreen: #90EE90;
 $purple: #DA70D6;

 $body-bg: $white;
 $state-info-bg: transparentize($blue, 0.9);
 $state-info-text: $blue;
 $jumbotron-bg: $seethru;
 $jumbotron-heading-font-size: 9rem;
 $brand-primary: $black;

 $navbar-default-border: 0;
 $navbar-default-bg: white;
 $navbar-default-color: $white;
 $navbar-default-link-color: $white;
 $navbar-default-link-hover-color: $cornflower;

 $btn-default-color: $black;
 $btn-default-border: transparent;
 $btn-default-bg: transparent;
 $btn-font-weight: bold;

 $dropdown-bg: $black;
 $dropdown-border: $black;
 $dropdown-fallback-border: $black;
 $dropdown-divider-bg: $black;
 $dropdown-link-color: $white;
 $dropdown-link-hover-color: $cornflower;
 $dropdown-link-hover-bg: $black;
 $dropdown-link-active-color: $cornflower;
 $dropdown-link-active-bg: $black;
 $dropdown-header-color: $white;
 $dropdown-caret-color: $white;

 $border-radius-base: 0;
 $border-radius-small: 0;
 $border-radius-large: 0;

 $sans: "acumin-pro-semi-condensed",sans-serif;
 $serif: "freight-big-pro",sans-serif;

 @mixin sans-bold {
 	font-family: $sans;
 	text-transform: uppercase;
 }


 @import "bootstrap-sprockets";
 @import "bootstrap";
 @import "pages";

 html, body {
 	height: 100%;
 	width: 100%;
 	color: $black;
 	/*font-size: 62.5%;*/
 	-webkit-font-smoothing: antialiased;
 }

 .btn-default {
 	@include sans-bold;
 }

 .dropdown-menu {
 	margin: 0;
 }

 a {
   text-transform: uppercase;
   font-weight: bold;

   + a {
   	margin-left: 10px;
   }
 }

 h1, h2, h3 {
 	font-family: $serif;
 	text-transform: uppercase;
 }

 h4, h5, h6, p {
 	font-family: $sans;
 	text-transform: uppercase;
 }

 h5 {
 	font-size: 2rem;
 	font-weight: bold;
 }

 h2 {
 	font-size: 4rem;
 	text-transform: capitalize;
 }

 p.large.serif, a.large.serif {
 	font-family: $serif;
 	font-size: 4rem;
 	font-weight: bold;
 }

 a.large.serif {
 	font-size: 3rem;

 	&:hover {
 		color: $purple;
 	}
 }

 p.large.sans {
 	font-family: $sans;
 	font-weight: bold;
 	font-size: 2rem;
 	letter-spacing: 0.5px;
 }



 span.email {
 	text-transform: lowercase;
 }

 .alert-info p {
	text-transform: none;
 }

 .alert-info.alert {
 	margin-bottom: 0;
 }

 input[type="text"], 
 input[type="password"],
 input[type="email"]
  {
 	max-width: 320px;
 	margin: 0 auto;
 }


 .navbar-brand {
 	color: $white;
 	font-family: $serif;
 	text-transform: uppercase;
 	font-size: 2rem;
 	font-weight: bold;
 }

 .form-container {
 	width: 50%;
 	margin: 0 auto;
 	min-width: 300px;
 }

 .navbar-default {
	// animation: colorchange 40s infinite;
	// -webkit-animation: colorchange 40s infinite;
	background-color: $black;
	color: $white;
	margin-bottom: 0;

	.btn-default {
		color: $white;

		&:hover {
			color: $cornflower;
		}

		&:active {
			color: $white;
		}

		&.dropdown-toggle {
			color: $white;
			height: 50px;
			min-width: 158px;
			line-height: 37px;
			padding-top: 6px;

			&:hover {
				color: $cornflower;
			}
		}


	}
 }


