/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */

 $container-desktop: 800px;

 $font-family-serif: "freight-big-pro",sans-serif;
 $font-family-sans-serif: "acumin-pro-semi-condensed",sans-serif;

 $white: #ffffff;
 $black: #222;
 $seethru: rgba(255,255,255,0.3);
 $transparent: transparent;
 $blue: #3498db;
 $red: #FF6347;
 $green: #3CB371;
 $purple: #DA70D6;

 $body-bg: $blue;
/* $home-bg: $blue;*/
 $jumbotron-bg: $seethru;
 $jumbotron-heading-font-size: 9rem;

 $navbar-default-border: 0;
 $navbar-default-bg: transparent;

 $btn-default-color: $black;
 $btn-default-border: transparent;
 $btn-default-bg: transparent;
 $btn-font-weight: bold;

 $border-radius-base: 0;
 $border-radius-small: 0;
 $border-radius-large: 0;

 $sans: "acumin-pro-semi-condensed",sans-serif;
 $serif: "freight-big-pro",sans-serif;

 @mixin sans-bold {
 	font-family: $sans;
 	text-transform: uppercase;
 }


 @import "bootstrap-sprockets";
 @import "bootstrap";
 @import "pages";

 html, body {
 	height: 100%;
 	width: 100%;
 	color: $white;
 	font-size: 62.5%;
 	-webkit-font-smoothing: antialiased;
 }

 .btn-default {
 	@include sans-bold;
 }

 h1, h2, h3 {
 	font-family: $serif;
 	text-transform: uppercase;
 }

 h4, h5, h6, p {
 	font-family: $sans;
 	text-transform: uppercase;
 }

 h5 {
 	font-size: 2rem;
 	font-weight: bold;

 }

