<nav class="navbar navbar-default" role="navigation">
  <div class="container">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <% if !current_page?(root_url) %>
      <%= link_to "Color Full", root_path, class: "navbar-brand" %>
    <% end -%>
  </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav navbar-right">
      <li><%= link_to "Sign Up", "#", class: "btn btn-default" %></li>
      <li><%= link_to "Login", "#", class: "btn btn-default" %></li>
    </ul>
  </div><!-- /.navbar-collapse -->
  </div><!-- end of container -->
</nav>